[Unit]
Description=Centaur Receiver
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart= /bin/bash /root/centaur_io/pacs/receiver.sh
Restart=always
LimitNOFILE=65536
RestartSec=4

[Install]
WantedBy=multi-user.target