# Ignore hidden files and folders
.*
!/.gitignore
*.pyc

# ignore image data or metadata in any dataset
/data/datasets/**/*.dcm
/data/datasets/**/*.npy
/data/datasets/**/*.pkl

# ignore manual integration tests
/cat_3_study_run/manual_integration_output/
